################################################################################

# emacs
*~

# files
source/EspObiSocket/data/*
source/*.pem
source/*.der

################################################################################
